body {
    font-family: 'Inter', sans-serif;
}
.gradient-text {
    background: linear-gradient(90deg, #8A2BE2, #4F46E5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.scrollbar-thin::-webkit-scrollbar { width: 6px; }
.scrollbar-thin::-webkit-scrollbar-track { background: #1f2937; }
.scrollbar-thin::-webkit-scrollbar-thumb { background-color: #4f46e5; border-radius: 20px; }
